body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 73vh;
    background-color:  #111B21/*#1E1E1E*/

}

#container-left {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    align-items:flex-end;
    


}

#left-item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
  
    
}

#container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    
}


#right-top {
    display: flex;
    width: 100%;
    height: 25%;

    

}

#right-bottom {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 75%;
 
    
}

#total {
    font-size: 30px;
  
}

#tot {
    font-size: 85px;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 2px rgb(223, 243, 237),
    0 0 2px rgb(204, 255, 235),
    0 0 2px rgb(204, 255, 235),
    0 0 10px rgb(0, 255, 153),
    0 0 2px rgb(204, 255, 235),
    0 0 2px rgb(223, 243, 237);


 
}
#total{
    color: #DFF3ED;
}


#timeline {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: block;
   
  
}

#ChartPie{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

#ChartDonut{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}

#myChart{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;

}

#footer{
    width: 100%;
    height:27vh;
    background-color:  #111B21/*#1E1E1E*/;
   
    
}

